html {
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

div {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    text-align: center;    
}

.blue {
    background-color: #4fc2ff;
}

.red {
    background-color: #d94655;
}

.yellow {
    background-color: #ffc748;
}

.green {
    background-color: #18ad8f;
}

p.text {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Nunito', serif;
    font-size: 15px;
    font-weight: 1000;
    text-align: center;
    width: fit-content;
}

p.emote {
    font-size: 37px;
    margin: 0;
}